<template>
  <b-container class="col-4">
    <b-form-group>
      <b-input-group class="justify-content-center">
        <b-form-input v-model="name" placeholder="名前を記入"></b-form-input>
        <b-input-group-append>
          <b-button v-on:click="GreetMessage" v-bind:disabled="!name" variant="primary">
            <font-awesome-icon icon="check"/>
            挨拶
          </b-button>
        </b-input-group-append>
      </b-input-group>
      <b-alert v-if="name && display && name === current_name"
               show variant="info">
        {{name}}さんこんにちは！
      </b-alert>
    </b-form-group>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      name: '',
      current_name: '',
      display: false,
      time: '',
    };
  },
  methods: {
    GreetMessage() {
      this.display = true;
      this.current_name = this.name;
      clearTimeout(this.time);
      this.time = setTimeout(() => {
        this.display = false;
      }, 5000);
    },
  },
};
</script>
